@import "bootstrap";    
@import '@fortawesome/fontawesome-free';
@import './custom';
h1 {
    color: red;
    text-align: left;
  }
  th {
    color: blue;
  }
  a {
      color: rgb(233, 12, 215);
  }
  